<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="8.7.2" targetFramework="net45" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="DocumentFormat.OpenXmlSDK" version="2.0" targetFramework="net45" />
  <package id="ExcelEngine" version="1.1.1" targetFramework="net45" />
  <package id="ExcelNumberFormat" version="1.0.10" targetFramework="net45" />
  <package id="ExcelReports" version="1.14.0.0" targetFramework="net45" />
  <package id="NReco.PdfGenerator" version="1.1.14" targetFramework="net45" />
</packages>