<?xml version="1.0"?>
<!--  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="APP-APPROVER" value="Nhem Rathana"/>
    <add key="APP-FORM-URL" value="http://localhost:13061/3-Clife/Certificate.asmx/GetApplicationBytes"/>
    <add key="CERT-URL" value="http://localhost:13061/3-Clife/Certificate.asmx/GetCertificateBytesOption"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.1.25;Initial Catalog=CAMLIFEAUTH-uat;Persist Security Info=True;User ID=sa;Password=admin1!2cdef;" providerName="System.Data.SqlClient"/>
    <add name="ApplicationDBContext" connectionString="Data Source=192.168.1.25;Initial Catalog=cLifeDB-pilot;Persist Security Info=True;User ID=sa;Password=admin1!2cdef;Connection Timeout=3600;" providerName="System.Data.SqlClient"/>
    <add name="CallCenterDB" connectionString="Data Source=192.168.1.25;Initial Catalog=CallcenterDB1-uat;Persist Security Info=True;User ID=sa;Password=admin1!2cdef;" providerName="System.Data.SqlClient"/>
    <add name="CellCardMessageDb" connectionString="Data Source=192.168.1.25;Initial Catalog=CellCardMessageDb;Persist Security Info=True;User ID=sa;Password=admin1!2cdef;" providerName="System.Data.SqlClient"/>
     <add name="CamlifeIntranet" connectionString="Data Source=192.168.1.25;Initial Catalog=CamlifeIntranetTest-uat;Persist Security Info=True;User ID=sa;Password=admin1!2cdef;" providerName="System.Data.SqlClient"/>
    <add name="CamlifeMidleWare" connectionString="Data Source=192.168.1.25;Initial Catalog=camlifemidleware;Persist Security Info=True;User ID=root;Password=admin1!2cdef;" providerName="MySql.Data.MySqlClient"/>
    <!-- camlife portal -->
    <add name="CAMLIFEPORTAL" connectionString="Data Source=192.168.1.25;Initial Catalog=camlifeportal;Persist Security Info=True;User ID=root;Password=admin1!2cdef;" providerName="MySql.Data.MySqlClient"/>

  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <trace enabled="true" pageOutput="false"/>
   
    <!--<authentication mode="Forms" />-->
    <authentication mode="Forms">
      <forms timeout="70"></forms>
    </authentication>
    <sessionState timeout="80"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="MySql.Data, Version=6.4.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576"/>
    <!-- Membership section  -->
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider"  
             connectionStringName="DefaultConnection"    
             applicationName="CLIFE"            
             enablePasswordRetrieval="false"      
             enablePasswordReset="true"           
             requiresQuestionAndAnswer="false"       
             requiresUniqueEmail="false"            
             minRequiredPasswordLength="8"   
             minRequiredNonalphanumericCharacters="1"            
             maxInvalidPasswordAttempts="5"        
             passwordAttemptWindow="30"
             passwordStrengthRegularExpression=""    
             passwordFormat="Hashed" />
        
        <add name="MySqlMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web,  Version=6.4.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"              autogenerateschema="true"              connectionStringName="CamlifeMidleWare"              enablePasswordRetrieval="false"              enablePasswordReset="true"              requiresQuestionAndAnswer="false"              requiresUniqueEmail="false"              passwordFormat="Hashed"              maxInvalidPasswordAttempts="10"              minRequiredPasswordLength="8"              minRequiredNonalphanumericCharacters="0"              passwordAttemptWindow="3"             passwordStrengthRegularExpression=""              applicationName="CAMLIFEMIDLEWARE"/>
        
        <add name="CAMLIFEPORTAL" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web,  Version=6.4.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"              autogenerateschema="true"              connectionStringName="CAMLIFEPORTAL"              enablePasswordRetrieval="false"              enablePasswordReset="true"              requiresQuestionAndAnswer="false"              requiresUniqueEmail="false"              passwordFormat="Hashed"              maxInvalidPasswordAttempts="10"              minRequiredPasswordLength="8"              minRequiredNonalphanumericCharacters="0"              passwordAttemptWindow="3"             passwordStrengthRegularExpression=""              applicationName="CAMLIFEPORTAL"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SqlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="DefaultConnection" applicationName="CLIFE"/>
        <add name="MySqlRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.4.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" connectionStringName="CamlifeMidleWare" applicationName="CAMLIFEMIDLEWARE"/>
        <add name="CAMLIFEPORTAL" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.4.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D" connectionStringName="CAMLIFEPORTAL" applicationName="CAMLIFEPORTAL"/>
      </providers>
    </roleManager>
    <!-- End of membership section  -->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <!--Enable to others pc access webservice-->
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="webmaster@camlife.com.kh">
        <network host="mail.camlife.com.kh" password="camlife_123" userName="feedback" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="90000000"/>
        <!--Allow payment system login-->
        <authenticationService enabled="true"/>
        <roleService enabled="true"/>
        <!--End Allow payment system login-->
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>