USE [cLifeDB-UAT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CT_MICRO_POL_GET_SEARCH_BY_APPLICATON_NUMBER]    Script Date: 10/4/2023 8:32:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CT_MICRO_POL_GET_SEARCH_BY_APPLICATON_NUMBER]
@APPLICATON_NUMBER VARCHAR (20),@CUSTOMER_NAME_ENG VARCHAR(50),@POLICY_NO VARCHAR(50)
AS BEGIN
	SELECT APP.APPLICATION_ID,APP.APPLICATION_NUMBER,POL.POLICY_NUMBER,CUS.FIRST_NAME_IN_ENGLISH + ' ' + CUS.LAST_NAME_IN_ENGLISH AS CUSTOMER_NAME_ENG, CUS.FIRST_NAME_IN_KHMER + ' ' + CUS.LAST_NAME_IN_KHMER AS CUSTOMER_NAME_KH 
	
	FROM  CT_MICRO_POLICY POL
 INNER JOIN CT_MICRO_APPLICATION APP ON APP.APPLICATION_ID=POL.APPLICATION_ID
 INNER JOIN CT_MICRO_APPLICATION_CUSTOMER CUS ON APP.APPLICATION_CUSTOMER_ID=CUS.CUSTOMER_ID
	WHERE APPLICATION_NUMBER = @APPLICATON_NUMBER OR CUS.FIRST_NAME_IN_ENGLISH =@CUSTOMER_NAME_ENG OR POL.POLICY_NUMBER=@POLICY_NO;
END;