USE [cLifeDB-UAT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CT_MICRO_POL_CONTRACT_UPDATE_DOC]    Script Date: 10/4/2023 8:32:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CT_MICRO_POL_CONTRACT_UPDATE_DOC]
@DOC_ID NVARCHAR(50),@DOC_NAME VARCHAR(30),@DOC_SIZE VARCHAR(20),@DOC_PATH VARCHAR(300),@UPDATED_ON DATETIME, @UPDATED_BY VARCHAR(30),@UPDATED_REMARKS NVARCHAR(255)

AS BEGIN
UPDATE CT_MICRO_POL_CONTRACT_DOC SET DOC_NAME=@DOC_NAME,DOC_SIZE=@DOC_SIZE,DOC_PATH=@DOC_PATH,UPDATED_ON=@UPDATED_ON,UPDATED_BY=@UPDATED_BY,UPDATED_REMARKS=@UPDATED_REMARKS
WHERE DOC_ID=@DOC_ID;
END;

