USE [cLifeDB-UAT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CT_MICRO_POL_CONTRACT_DOC_LOADDATA]    Script Date: 10/4/2023 8:32:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_CT_MICRO_POL_CONTRACT_DOC_LOADDATA]

@APPLICATION_ID NVARCHAR(50)

 AS BEGIN 

	SELECT APPLICATION_ID,DOC_CODE,DOC_NAME,DOC_TYPE,DOC_PATH,CREATED_ON,CREATED_BY FROM CT_MICRO_POL_CONTRACT_DOC
	WHERE APPLICATION_ID=@APPLICATION_ID;
END;
