
ALTER PROC [dbo].[SP_CT_MICRO_POL_CONTRACT_DOC_GET_CHANEL_LOCATION]
 @DATE_TYPE VARCHAR(5),
 @DATE_F DATE,
 @DATE_T DATE,
 @POLICY_NUMBER VARCHAR(15),
 @CHANNEL_LOCATION_ID NVARCHAR(MAX)
 AS BEGIN
	 DECLARE @COND NVARCHAR(MAX);

	--DECLARE @DATE_TYPE VARCHAR(5);
	--DECLARE @DATE_F DATE;
	--DECLARE @DATE_T DATE;
	--DECLARE @POLICY_NUMBER VARCHAR(15);
	--DECLARE @CHANNEL_LOCATION_ID NVARCHAR(MAX);
	--SET @DATE_TYPE='CR';
	--SET @DATE_F='2023-10-30';
	--SET @DATE_T='2023-10-31';
	--SET @POLICY_NUMBER='';
	--SET @CHANNEL_LOCATION_ID='5589E1DB-BE2A-402A-BD61-7180638290127,B6FBC0E2-44B8-4F7C-8F01-8A5710A8D18D';


	DECLARE @D_FORMAT VARCHAR(30);
	DECLARE @TBL_FILE VARCHAR(50);
	DECLARE @TBL_PATH VARCHAR(50);
	DECLARE @TBL_ID VARCHAR(50);
	DECLARE @TBL_DOC VARCHAR(50);

	SET @D_FORMAT = FORMAT(GETDATE(),'ddMMyyhhmmss');
	SET @TBL_FILE = '_TEMP_FILE_' + @D_FORMAT;
	SET @TBL_PATH='_TEMP_PATH_' + @D_FORMAT;
	SET @TBL_ID ='_TEMP_DOC_ID_' + @D_FORMAT;
	SET @TBL_DOC ='_TEMP_DOC_' + @D_FORMAT;

	IF object_id(@TBL_FILE) is not null
	BEGIN
		EXEC(' DROP TABLE ' + @TBL_FILE+';');
	END;
	IF object_id(@TBL_PATH) is not null
	BEGIN
		EXEC(' DROP TABLE ' + @TBL_PATH+';');
	END;
	IF object_id(@TBL_ID) is not null
	BEGIN
		EXEC(' DROP TABLE ' + @TBL_ID+';');
	END;
	IF object_id(@TBL_DOC) is not null
	BEGIN
		EXEC(' DROP TABLE ' + @TBL_DOC+';');
	END;

	DECLARE @QUERY NVARCHAR(MAX);

	SET @QUERY=' SELECT C.CHANNEL_LOCATION_ID, C.POLICY_NUMBER, D.CUSTOMER_NUMBER, (D.LAST_NAME_IN_ENGLISH + '' '' + D.FIRST_NAME_IN_ENGLISH) AS CUSTOMER_NAME, B.APPLICATION_NUMBER, B.APPLICATION_ID,
	E.EFFECTIVE_DATE, E.ISSUED_DATE, A.DOC_ID, A.DOC_CODE, A.DOC_NAME, A.DOC_PATH, A.CREATED_BY, CAST( A.CREATED_ON AS DATE) CREATED_ON INTO ' +
	@TBL_DOC + 
	' FROM CT_MICRO_POL_CONTRACT_DOC A 
	INNER JOIN CT_MICRO_APPLICATION B ON B.APPLICATION_ID = A.APPLICATION_ID 
	INNER JOIN CT_MICRO_POLICY C ON C.APPLICATION_ID=B.APPLICATION_ID
	INNER JOIN CT_MICRO_POLICY_DETAIL E ON E.POLICY_ID=C.POLICY_ID
	INNER JOIN CT_MICRO_CUSTOMER1 D ON D.ID=C.CUSTOMER_ID '

	SET @COND='';
	IF @DATE_TYPE='EF' BEGIN --EFFECTIVE DATE
		SET @COND = 'WHERE E.EFFECTIVE_DATE BETWEEN ''' + CAST( @DATE_F AS  VARCHAR)+ ''' AND ''' +CAST( @DATE_T AS VARCHAR)+ '''';
	END ELSE IF @DATE_TYPE='IS' BEGIN -- ISSSUE DATE
		SET @COND = ' WHERE E.ISSUED_DATE BETWEEN ''' + CAST( @DATE_F AS  VARCHAR)+ ''' AND ''' +CAST( @DATE_T AS VARCHAR)+ '''';
	END ELSE IF @DATE_TYPE='CR' BEGIN -- CREATE DATE
		SET @COND = ' WHERE CAST(A.CREATED_ON AS DATE) BETWEEN ''' + CAST( @DATE_F AS  VARCHAR)+ ''' AND ''' +CAST( @DATE_T AS VARCHAR)+ '''';
	END ELSE BEGIN
		SET @COND='';
	
	END

	IF @POLICY_NUMBER <>'' BEGIN
		IF @COND <>'' BEGIN
			SET @COND += ' AND C.POLICY_NUMBER=''' + @POLICY_NUMBER + '''';
		END ELSE BEGIN
			SET @COND = ' WHERE C.POLICY_NUMBER=''' + @POLICY_NUMBER + '''';
		END;
	END;

	IF @CHANNEL_LOCATION_ID <>'' BEGIN
		IF @COND <>'' BEGIN
			SET @COND += ' AND C.CHANNEL_LOCATION_ID IN (''' + REPLACE( @CHANNEL_LOCATION_ID,',',''',''') + ''')';
		END ELSE BEGIN
			SET @COND = ' WHERE C.CHANNEL_LOCATION_ID IN (''' + REPLACE( @CHANNEL_LOCATION_ID,',',''',''') + ''')';
		END;
	END;
	
	EXEC (@QUERY + @COND);


	/*PIVOT FILE NAME*/
	EXEC ('SELECT * 
	INTO ' + @TBL_FILE + ' 
	FROM (
	SELECT POLICY_NUMBER, CUSTOMER_NUMBER, APPLICATION_NUMBER, CUSTOMER_NAME, APPLICATION_ID, ISSUED_DATE, EFFECTIVE_DATE, CREATED_BY,CREATED_ON, DOC_NAME, DOC_CODE FROM '+@TBL_DOC+' A 

	) TBLS
	PIVOT 
	(MAX(DOC_NAME) 
	FOR DOC_CODE IN ([APP],[CERT],[ID_CARD],[PAY_SLIP],[TC])
	) TBLP');


	/*PIVOT PATH*/
	EXEC ('SELECT * 
	INTO ' + @TBL_PATH + '  
	FROM (
	SELECT APPLICATION_ID,  DOC_PATH, DOC_CODE FROM '+ @TBL_DOC + ' A 

	) TBLS
	PIVOT 
	(MAX(DOC_PATH) 
	FOR DOC_CODE IN ([APP],[CERT],[ID_CARD],[PAY_SLIP],[TC])
	) TBLP'); 

	/*PIVOT DOC ID*/
	EXEC ('SELECT * 
	INTO ' + @TBL_ID + ' 
	FROM (
	SELECT A.APPLICATION_ID, A.DOC_CODE, A.DOC_ID FROM '+  @TBL_DOC +' A 
	) TBLS
	PIVOT 
	(MAX(DOC_ID) 
	FOR DOC_CODE IN ([APP],[CERT],[ID_CARD],[PAY_SLIP],[TC])
	) TBLP');


	EXEC ('
	SELECT A.POLICY_NUMBER, A.CUSTOMER_NUMBER, A.CUSTOMER_NAME, A.APPLICATION_NUMBER, A.APPLICATION_ID, A.ISSUED_DATE, A.EFFECTIVE_DATE, A.CREATED_BY, A.CREATED_ON, A.APP, B.APP AS APP_PATH, C.APP AS APP_DOC_ID, A.CERT, B.CERT AS CERT_PATH, C.CERT AS CERT_DOC_ID,
	A.ID_CARD, B.ID_CARD AS ID_CARD_PATH, C.ID_CARD AS ID_CARD_DOC_ID, A.PAY_SLIP, B.PAY_SLIP AS PAY_SLIP_PATH, C.PAY_SLIP AS PAY_SLIP_DOC_ID,
	 A.TC, B.TC AS TC_PATH, C.TC AS TC_DOC_ID 
	FROM '+ @TBL_FILE +' A 
	INNER JOIN '+ @TBL_PATH +' B ON B.APPLICATION_ID = A.APPLICATION_ID
	INNER JOIN  '+ @TBL_ID +' C ON C.APPLICATION_ID = A.APPLICATION_ID
	');

	EXEC ('DROP TABLE ' + @TBL_DOC + ',' + @TBL_FILE+','+ @TBL_PATH + ',' + @TBL_ID + ';');
END;




