USE [cLifeDB-UAT]
GO
/****** Object:  StoredProcedure [dbo].[SP_CT_MICRO_POL_CONTRACT_DOC_INSERT]    Script Date: 10/4/2023 8:31:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_CT_MICRO_POL_CONTRACT_DOC_INSERT]
@SEQ INT ,@APPLICATION_ID NVARCHAR(50),@DOC_CODE VARCHAR(20),@DOC_NAME VARCHAR(30),@DOC_SIZE VARCHAR(20),@DOC_TYPE VARCHAR(20),@DOC_PATH VARCHAR(300),@CREATED_ON DATETIME, @CREATED_BY VARCHAR(30),@CREATED_REMARKS NVARCHAR(255)
AS BEGIN
	IF @CREATED_REMARKS ='' BEGIN 
		SET @CREATED_REMARKS =NULL;
		END;

 	INSERT INTO  CT_MICRO_POL_CONTRACT_DOC (SEQ,APPLICATION_ID, DOC_CODE, DOC_NAME, DOC_TYPE, DOC_SIZE, DOC_PATH, CREATED_ON, CREATED_BY, CREATED_REMARKS) 
	VALUES(@SEQ,@APPLICATION_ID, @DOC_CODE, @DOC_NAME, @DOC_TYPE, @DOC_SIZE, @DOC_PATH, @CREATED_ON, @CREATED_BY, @CREATED_REMARKS);	

END;