<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Administrator" />
          <allow roles="Commercial" />
          <allow roles="ICT" />
          <allow roles="Management" />
          <allow roles="Operation" />
		  <allow roles="Finance" />
 	<allow roles="InternalAudit" />
          <deny users="?" />
          <deny users="*" />
        </authorization>
    </system.web>
</configuration>