

ALTER PROC [dbo].[SP_CT_CUSTOMER_LEAD_GET_BY_LEAD_ID]
@LEAD_ID NVARCHAR(50)
AS BEGIN
SELECT  
	[ID], 
      [BRANCH_CODE]
      ,[BRANCH_NAME]
      ,[APPLICATION_ID]
      ,[REFERRAL_STAFF_ID]
      ,[REFERRAL_STAFF_NAME]
      ,[REFERRAL_STAFF_POSITION]
      ,[CLIENT_TYPE]
      ,[CIF]
      ,[CLIENT_NAME_IN_ENGLISH]
      ,[CLIENT_NAME_IN_KHMER]
      ,[GENDER]
      ,[NATIONALITY]
      ,[DATE_OF_BIRTH]
      ,[VILLAGE]
      ,[COMMUNE]
      ,[DISTRICT]
      ,[PROVINCE]
      ,[ID_TYPE]
      ,[ID_NUMBER]
      ,[PHONE_NUMBER]
      ,[INTEREST]
      ,[REFERRED_DATE],
	  ISNULL([INSURANCE_APPLICATION_NUMBER],'') INSURANCE_APPLICATION_NUMBER
      ,[Status]
	  ,ISNULL([STATUS_REMARKS],'') AS 'STATUS_REMARKS'
      ,ISNULL([Remarks],'') AS 'REMARKS'
      ,[Created_By]
      ,[Created_On]
	  ,ISNULL( Updated_By,'') AS 'UPDATED_BY'
	  ,ISNULL(Updated_On,'1900-01-01') AS 'UPDATED_ON', ISNULL(LEAD_TYPE,'') AS LEAD_TYPE
	FROM 
	CT_CUSTOMER_LEAD WHERE ID = @LEAD_ID;
END
